*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project Friday Exclusions
/app/src/main/assets/friday_onnx_models.zip
/current_device_logs.txt
/notebookoutput.md
/output/

